# ignore c things
*.[oa]
# ignore aaron's svn
*.svn
# ignore pyc and things that end in ~
*.pyc
*~
# ignore vim's temp stuff
*.swp
*.swo
*.swn
## # ignore donutlib
## donutlib
# ignore .o and .so
*.o
*.so
# ignore build folders
build

# ignore the Makefile and swig file in donutlib
donutlib/donutengine.py
donutlib/Makefile
